.center {

  text-align: center;

}

.margins {

  margin-left: 25%;

  margin-right: 25%;

}

#lesson1 {

  background-color: gray;

  font-size: 1rem;

  font: Times;

}
#lesson2 {

  background-color: gray;

  font-size: 1rem;

  font: Times;

}
